.grid_16
  %p Welcome

  %ul
  - Dir.glob('views/**/*.haml').each do |f|
    - unless f =~ /index/ or f =~ /layout/
      %li
        %a{:href => f.gsub(/views/,'').match(/(.*).haml$/)[1]}= f.match(/\/(.*).haml$/)[1]
  


