.grid_16
  %p Welcome

  - Dir.glob('views/**/*.haml').each do |f|
    - unless f =~ /index/ or f =~ /layout/
      .grid_2
        %a{:href => f.gsub(/views/,'').match(/(.*).haml$/)[1]}= f.match(/\/(.*).haml$/)[1]
  


