!!!
%html{ :xmlns => "http://www.w3.org/1999/xhtml", :lang => "en", 'xml:lang' => "en" }
  %head
    %title Mercury
    - ['reset','text','960','smoothness/jquery-ui-1.8.custom','app'].each do |css|
      %link{ :href => "/stylesheets/#{css}.css", :rel => "stylesheet", :type => "text/css", :media => "screen", :charset => "utf-8" }
  %body
    - ['jquery-1.4.2.min', 'jquery-ui-1.8.custom.min', 'coffee-script'].each do |js|
      %script{:src => "/javascripts/#{js}.js", :type => 'text/javascript'}

    = yield
    #tool-footer.container_12
      .grid_8
        %p
          %a{:href => '/'} Mercury
      .grid_4
        %p 
          %a{:href => 'http://www.jackhq.com'} Jack Russell Software Company, LLC
      .clear
