=nav_a
  border: 1px solid gray
  padding: 10px
  text-decoration: none
  color: #004080

#header-wrapper
  background-color: orange
  color: white

#navigation
  text-align: center
  ul  
    list-style: none

    li
      display: inline      
      a
        +nav_a
        
      a:hover
        background-color: orange
        color: white
      
      a:visited 
        +nav_a
        
#home-content
  p
    font-size: 2em
  
pre
  background-color: black
  color: white
  padding: 10px