#navigation.container_16
  %ul
    %li 
      %a{:href => '/home'} Home
    %li
      %a{:href => '/video'} Video
    %li
      %a{:href => '/resources'} Resources
    %li
      %a{:href => '/log'} Change Log
