#navigation.container_16
  %ul
    %li 
      %a{:href => '/home'} Home
    %li
      %a{:href => '/tutorial'} Tutorial
    %li
      %a{:href => '/haml'} Haml
    %li
      %a{:href => '/sass'} Sass
    %li 
      %a{:href => '/jquery'} JQuery
    %li 
      %a{:href => '/jquery'} JQueryUI
    %li 
      %a{:href => '/markdown'} Markdown
    %li
      %a{:href => '/log'} Change Log
